
  
  nav a {
    color: rgb(23, 2, 2);
    text-decoration: none;
    margin: 0 10px;
  }
  
  nav a.active {
    font-weight: bold;
    text-decoration: underline;
  }
  
  main {
    padding: 20px;
    min-height: 70vh; /* Ensures content fills the page */
  }
  /* Push main content below the fixed header */
.main-content {
  margin-top: 70px; /* Adjust this based on your header's height */
  margin-bottom: 50px; /* Adjust for footer height if needed */
  padding: 20px;
  flex: 5;
}

  