<h1> {{isEditing? "Edit product Details": "Add new Product"}} </h1>

<form [formGroup]="productForm" (ngSubmit)="saveProduct()">
  
  <!-- Name Field -->
  <mat-form-field appearance="outline">
    <mat-label>Product Name</mat-label>
    <input matInput formControlName="name">
    <mat-error *ngIf="productForm.get('name')?.hasError('required')">Name is required</mat-error>
    <mat-error *ngIf="productForm.get('name')?.hasError('minlength')">Minimum 2 characters required</mat-error>
    <mat-error *ngIf="productForm.get('name')?.hasError('maxlength')">Maximum 10 characters allowed</mat-error>
  </mat-form-field>

  <!-- Price Field -->
  <mat-form-field appearance="outline">
    <mat-label>Price</mat-label>
    <input matInput type="number" formControlName="price">
    <mat-error *ngIf="productForm.get('price')?.hasError('required')">Price is required</mat-error>
    <mat-error *ngIf="productForm.get('price')?.hasError('min')">Price must be at least 1</mat-error>
  </mat-form-field>

  <!-- Description Field -->
  <mat-form-field appearance="outline">
    <mat-label>Product Description</mat-label>
    <input matInput formControlName="description">
    <mat-error *ngIf="productForm.get('description')?.hasError('required')">Description is required</mat-error>
    <mat-error *ngIf="productForm.get('description')?.hasError('minlength')">Minimum 2 characters required</mat-error>
    <mat-error *ngIf="productForm.get('description')?.hasError('maxlength')">Maximum 100 characters allowed</mat-error>
  </mat-form-field>

 <!-- File Upload Field -->
<div class="custom-file-upload">
  <label>Upload File:</label>
  <input type="file" (change)="onFileSelected($event)" #fileInput hidden />
  &nbsp;
  <button mat-raised-button color="accent" type="button" (click)="fileInput.click()">
    Choose File
  </button>

  <span *ngIf="selectedFile">{{ selectedFile?.name }}</span>
</div>

<!-- Price range -->
 <mat-form-field appearance="outline">
  <mat-label>Price Range</mat-label>
    <mat-select formControlName="productRange">
      <mat-option *ngFor="let range of productRange" [value]="range.id">
        {{range.priceRange}}
      </mat-option>
    </mat-select>
    <mat-error *ngIf="productForm.get('productRange')?.hasError('required')">
      Price Range is required
    </mat-error>
 </mat-form-field>
 
<!--Countries-->
 <mat-form-field appearance="outline">
  <mat-label>Select Countries</mat-label>
  <mat-select formControlName="countryIds" multiple>
    <mat-option *ngFor="let country of countryMasterData" [value]="country.id">
      {{ country.countryName }}
    </mat-option>
  </mat-select>
  <mat-error *ngIf="productForm.get('countryMasterData')?.hasError('required')">
    At least one country must be selected
  </mat-error>
</mat-form-field>


  <button mat-raised-button color="primary" type="submit" [disabled]="productForm.invalid">
    {{ isEditing ? 'Update' : 'Create' }} Product
  </button>
&nbsp;
  <button mat-raised-button color="warn" type="button" (click)="router.navigate(['/products'])">
    Cancel
  </button>

</form>
