/* You can add global styles to this file, and also import other style files */
@import '@angular/material/prebuilt-themes/indigo-pink.css';

body {
  font-family: Roboto, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 20px;
}

h2 {
  color: #3f51b5; /* Material Blue */
  text-align: center;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}

.main-content {
  flex: 1; /* Pushes footer to the bottom */
}
